<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="POST" action="/pig_latin">
      <input type="text" name="string"> 
      <input type="submit" value="user_phrase">
    </form>
  </body>
</html>